<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
</head>
<body>
    <h1>Details</h1>
    Image :<img src="media/{{user.image}}"><br>
    First Name : {{user.first_name}}<br>
    Last Name : {{user.last_name}}<br>
    Username : {{user.username}}<br>
    Email : {{user.email}}<br>
    Mobile No.: {{user.mobno}}<br>
</body>
</html>